<p id="notice"><%= notice %></p>

<h1>Listing Family Trees</h1>

<table>
  <thead>
    <tr>
      <th>Family Name</th>
      <th>Owner</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_trees.each do |family_tree| %>
      <tr>
        <td><%= family_tree.name %></td>
        <td><%= family_tree.user_id %></td>
        
        <td><%= link_to 'Show', family_tree %></td>
        <td><%= link_to 'Edit', edit_family_tree_path(family_tree) %></td>
        <td><%= link_to 'Destroy', family_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Family tree', new_family_tree_path %>
